body {
  
  text-align: center;
}

h4 {
  position: relative;
  display: inline-block;
}
h4::after, h4::before {
  content: "";
  position: absolute;
  width: 520px;
  height: 3px;
  background-color: currentcolor;
  top: 55%;
  -webkit-animation: animateLine 1s;
          animation: animateLine 1s;
}
h4::after {
  left: -540px;
}
h4::before {
  right: -540px;
}

@-webkit-keyframes animateLine {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes animateLine {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@media screen and (min-width: 10px) {

h4::after, h4::before {
  width: 150px;
}
h4::after {
  left: -170px;
}
h4::before {
  right: -170px;
}

}
@media screen and (min-width: 800px) {

h4::after, h4::before {
  width: 320px;
}
h4::after {
  left: -340px;
}
h4::before {
  right: -340px;
}

}


@media (min-width: 1150px) {
h4::after, h4::before {
  width: 520px;
}
h4::after {
  left: -540px;
}
h4::before {
  right: -540px;
}

}

